<div class="wrapper-black">
  <div class="container">
    <div class="footer">
      <ul class="list-inline" id="icons-social-media">
        <li> <%= icon('facebook-official') %> </li>
        <li> <%=  icon('twitter') %> </li>
        <li> <%=  icon('instagram') %></li>
      </ul>
      <ul class="list-inline" id="links-footer">

        <li>About</li>
        <li>Contact</li>
        <li>Careers</li>
      </ul>
    </div>
  </div>
</div>
