<div class="footer">
  <div class="container">
    <ul class="list-inline" id="icons-social-media">
      <li>icon('facebook')</li>
      <li>icon('twitter')</li>
      <li>icon('instagram')</li>
    </ul>
  </div>
</div>
