<div class="container">
  <div class="navigation-bar">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "melon.svg", {class: "img-rounded", id: "logo"} %>
      <% end %>
    </div>
    <% unless controller_name == "sessions" || controller_name == "users" %>
      <div class="links">
        <%= link_to "logout", logout_path %>
      </div>
    <% end %>
  </div>
</div>
