<div class="container">
  <div class="navigation-bar">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "melon.svg", {class: "img-rounded", id: "logo"} %>
      <% end %>
    </div>
    <div class="links">
      <p>fake link</p>
    </div>
  </div>
</div>
